$background-color: #fffbec;
$primary-color: rgb(4, 125, 89);
$secondary-color: rgba(178, 54, 37, 0.78);


*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  color: $primary-color;
  font-size: 1rem;
}

section, div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

nav {
  position: sticky;
  z-index: 10;
  padding: 1rem;
  top: 2vh;
  margin: 0 auto 10vh auto;
  background-color: $primary-color;
  color: $background-color;
  border-radius: 1rem;
  width: fit-content;
  justify-content: center;
  display: flex;
  gap: 1rem;
  .link {
    color: $background-color;
  }
}

.nameTitle {
  width: fit-content;
  padding: 0;
}

.titleHeader {
  height: 80vh;
  justify-content: center;
  h1 {
    font-size: 2.5rem;
    color: $primary-color;
  }
  span {
    color: $secondary-color;
  }
}

h1, h2 {
  overflow: hidden;
  white-space: nowrap;
  animation:
    typing 1.3s steps(12, end)
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.iconLinks {
  flex-direction: row;
  padding: 0;
  align-items: center;
  gap: 1rem;
}

h1, h4 {
  margin-bottom: 0.5rem;
}

.aboutSection {
  gap: 2rem;
  .aboutContents {
    padding: 0;
    border-radius: 1rem;
    position: relative;
    p {
      position: absolute;
      top: 3rem;
      left: 10%;
      margin: 0 auto;
      width: 80%;
      padding: 1rem;
      text-align: center;
      background-color: rgba(255, 251, 236, 0.56);
      border-radius: 1rem;
    }
  }
}

.reveal {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}

.projectSection {
  gap: 2rem;
  .projectDiv {
    flex-direction: row;
    padding: 0;
    position: relative;
    }
    img {
      max-width: 70vw;
      border-radius: 1rem;
    }
    p {
      color: $background-color;
      z-index: 1;
      width: 40vw;
      position: absolute;
      right: 1rem;
      top: 3rem;
      background-color: $primary-color;
      border-radius: 1rem;
      padding: 1rem;
    }
  .hidden {
    opacity: 0;
    transition: all 1s;
  }

  .projectImage {
    transform: translateX(-80%);
    transition-delay: 400ms;
  }
  .projectText {
    transform: translateX(80%);
  }

  .slideIn{
    opacity: 1;
    transform: translateX(0);
  }
}

.socialsIcons, .contactIcons {
  background-color: $primary-color;
  color: $background-color;
  padding: 0.5rem;
  border-radius: 50%;
  line-height: 0.8rem;
}

.socialsIcons:hover {
  background-color: $background-color;
  color: $primary-color;
  border: solid 1px $primary-color;
  transform: scale(1.2);
}

.contactSection {
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: $primary-color;
}
.link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: $secondary-color;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.link:hover::after {
  width: 70%;
  left: 0;
}

.link:hover {
  cursor: pointer;
}

hr {
  border: 1px solid $primary-color;
  width: 70vw;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  body {
    font-size: 1.5rem;
  }
  .iconLinks {
    line-height: 1.5rem;
  }
  .aboutContents {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    img {
      max-width: 40%;
    }
    p {
      position: static !important;
      width: 50%;
    }
  }
  .projectDiv {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 5rem;
    img {
      max-height: 20rem;
    }
    p {
      position: static;
      height: fit-content;
    }
  }

  .contactSection {
    width: fit-content;
    margin: 0 auto;
  }

  .titleHeader {
    align-items: center;
  }

}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}